.posts-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .post-details {
    flex: 1;
  }
  
  .post-actions {
    display: flex;
    gap: 10px;
    margin-left: 20px;
  }
  
  .post-actions button {
    padding: 5px 10px; /* גודל כפתור */
    margin-right: 10px; /* רווח בין כפתורים */
  }
  
  .comments-section {
    margin-top: 10px;
    padding-left: 20px;
  }
  